<div id="content_place">
    <h1 class="display-4 text-uppercase text-light text-center">Создайте</h1>
    <h1 class="display-4 text-uppercase text-light text-center">или</h1>
    <h1 class="display-4 text-uppercase text-light text-center">выберите</h1>
    <h1 class="display-4 text-uppercase text-light text-center">задачу</h1>
</div>



