@model IEnumerable<Tsk>


<ul>
    @foreach (var t in Model)
    {
    <li style="list-style-type: none" class="m-2">
        <i class="fa fa-suitcase" aria-hidden="true"></i>
        <input type="button" value="@t.Name" class="btn btn-sm btn-dark" onclick="getTaskInfoUsingAjax(@t.Id)">

        @if (t.Children.Any())
        {
            @await Html.PartialAsync("UlPartitial", t.Children)
        }

    </li>
    }
</ul>

